@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

body 
{
  font-family: Helvetica, Arial, sans-serif;
}

.container 
{
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.column
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  height: 500px;
  flex: 1 1 auto;
  color: #30225f;
}

.column1
{
  background-color: pink;
}

.column2
{
  background-color: red;
}

.column3, .column4
{
  display: none;
}

@media screen and (min-width: 641px)
{

.container
{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1140px;
  }

 .column
 {
 	display: flex;
 	justify-content: space-evenly;
 	align-items: center; 
 	flex: 1 1 auto;
 	color: white;
 }

 .column1
  {
    background-color: blue;

  }

  .column2
  {
    background-color: purple;
  }


.column3
  {
    background-color: grey;
  }


.column4
  {
    background-color: brown;
  }

}



















